<!-- 
	This template gets placed in the Pet tab's <ion-nav-view> directive.
	It was wired up in the app config (app.js) 
	The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="'Pet Information'">
	<ion-content has-header="true" has-tabs="true">
		<div class="list card">
			<div class="item item-avatar">
				<img src="http://placehold.it/100x100">
				<h2>Holi (Hindu Festival)</h2>
				<p>Monday, March 17</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="http://lorempixel.com/output/food-q-c-268-167-6.jpg">
				<p>
					Holi (English pronunciation: /ˈhoʊliː/) (Sanskrit: होली) is a spring festival also known as festival of colours, and sometimes festival of love.[3][4] It is an ancient Hindu religious festival which ...
				</p>
			</div>
			<button class="button button-block button-transparent">Wish Now!</button>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="http://placehold.it/100x100">
				<h2>Holi (Hindu Festival)</h2>
				<p>Monday, March 17</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="http://lorempixel.com/output/food-q-c-268-167-6.jpg">
				<p>
					Holi (English pronunciation: /ˈhoʊliː/) (Sanskrit: होली) is a spring festival also known as festival of colours, and sometimes festival of love.[3][4] It is an ancient Hindu religious festival which ...
				</p>
			</div>
			<button class="button button-block button-transparent">Wish Now!</button>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="http://placehold.it/100x100">
				<h2>Holi (Hindu Festival)</h2>
				<p>Monday, March 17</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="http://lorempixel.com/output/food-q-c-268-167-6.jpg">
				<p>
					Holi (English pronunciation: /ˈhoʊliː/) (Sanskrit: होली) is a spring festival also known as festival of colours, and sometimes festival of love.[3][4] It is an ancient Hindu religious festival which ...
				</p>
			</div>
			<button class="button button-block button-transparent">Wish Now!</button>
		</div>
	</ion-content>
</ion-view>
